@import "bourbon/bourbon"; // http://bourbon.io/

@import '../partials/layout'; // responsive grid and media queries

$path-to-fonts: "../assets/fonts";

// colour palette - these colours will be the colour swatches of the colours section

$colour-1: #3c3c3b; // Dark grey
$colour-2: #05b0e1; // Blue
$colour-3: #10ca83; // Green
$colour-4: #e34312; // Red
$colour-5: #f5f5f5; // Light grey

// additional colours

$primary-colour: $colour-2;
$text-colour: $colour-1;
$success: $colour-3; // green
$alert: $colour-4;  // red
$white: #ffffff;

// fonts
$primary-font: "TeX Gyre Heros", "Helvetica Neue", "Helvetica", sans-serif;


// sizes
$base-line-height: 1.5 !default;
$base-spacing: $base-line-height * 1em !default;


@import '../partials/nav';

// elements
@import 'ot-scss/variables';
@import 'ot-scss/typography';
@import 'ot-scss/ratings';


/* --------------------------------

xBackground

-------------------------------- */

body {
	/* this is the page background */
	background-color: lighten($colour-5, 2%);
}

/* --------------------------------

xPatterns

-------------------------------- */

.box {
	/* this is the container of various design elements - i.e. the 2 logo of the branding section */
	border: 1px solid $colour-5;
	border-radius: 3px;
	background: $white;
	box-shadow: 0 1px 1px rgba(#000, .05);
	padding: 6px;
}

/* --------------------------------

xNavigation

-------------------------------- */

body > header {
	background-color: $colour-2;
	color: $white;

  .logo {
  	width: 120px;

  	@include MQ(M) {
  		width: 180px;
  	}
  }
}


/* --------------------------------

xPage title

-------------------------------- */

main > h1 {
	color: $text-colour;

	@include MQ(L) {
		/* title goes into the header on big devices */
		color: $white;
	}
}

/* --------------------------------

xTypography

-------------------------------- */

h1, h2 {
	color: $text-colour;
}

h1 {
	font-weight: bold;
	margin: 0 0 .4em;
}

h2 {
	font-weight: bold;
	margin: 1em 0;

	@include MQ(S) {
		font-size: 1.8rem;
		margin: 1em 0 1.4em;
	}
}

section > h2 {
	border: none;
	font-size: em(20);
	margin-bottom: 0.5em;
	text-transform: uppercase;

	&::before {
		/* number before each section title */
		color: darken($colour-5, 15%);
	}
}


/* --------------------------------

xButtons

-------------------------------- */


.buttons .box:nth-of-type(2) span {
	/* CSS class name colour */
	color: $primary-colour;
}

/* --------------------------------

xIcons

-------------------------------- */

.icons li {
	/* icons size */
	width: 32px;
	height: 32px;
}


/* --------------------------------

Accordion

-------------------------------- */

.js .accordion {
  ul.submenu {
    display: none;
  }
  .is-expanded {
    display: block;
  }
}


@import '../partials/basic-style';
